@page "/faq"

<PageTitle>FAQ</PageTitle>

<div class="faq-container">
    <h1 class="faq-title">Ofte stillede spørgsmål / FAQ</h1>

    <div class="faq-item">
        <h3 class="faq-question">Hvordan opretter jeg en session❓</h3>
        <p class="faq-answer">
            Gå til siden <strong>SessionList</strong> og tryk på knappen <em>Opret</em>. 
            Udfyld titel, beskrivelse og eventuelt restaurantnavn for at starte en ny session.
            Du kan derinde, tilføje alle du er venner med.
        </p>
    </div>

    <div class="faq-item">
        <h3 class="faq-question">Hvordan tilføjer jeg min count til en session❓</h3>
        <p class="faq-answer">
            På siden <strong>SushiCounter</strong> kan du tælle dine stykker. 
            Tryk derefter på <em>Tilføj din count til en session</em> og vælg hvilken session du vil opdatere.
        </p>
    </div>

    <div class="faq-item">
        <h3 class="faq-question">Kan jeg ændre min rating senere❓</h3>
        <p class="faq-answer">
            Ja. Du kan ændre din vurdering (rating) for en session når som helst, 
            så længe sessionen stadig er åben. På count siden tryk på tilføj og vælg den session du vil ændre.
        </p>
    </div>

    <div class="faq-item">
        <h3 class="faq-question">Hvordan sletter jeg en session❓</h3>
        <p class="faq-answer">
            Gå til <strong>SessionList</strong>, vælg den session du vil ændre, 
            og tryk derefter på <em>Slet session</em> nederst i vinduet.
            Du kan kun slette en session som du selv har oprettet
        </p>
    </div>

    <div class="faq-item">
        <h3 class="faq-question">Hvad sker der når en session lukkes❓</h3>
        <p class="faq-answer">
            Når en session bliver lukket, kan du ikke længere ændre din count eller rating. 
            Sessionen forbliver dog synlig på listen som et historisk resultat.
            Ejeren kan altid åbne den igen, men snyd er ik cool.
        </p>
    </div>
</div>

<!--link til flere emojis https://emojipedia.org/!->