@page "/Home"

<PageTitle>Home</PageTitle>

<div>
    Seneste session
</div>

<div>
    Session hvor du spiste mest sushi
</div>

<div>
    Din samlede sushi count
</div>

<div>
    Højst ratede sushi sted
</div>
<div>
    Af dine venner, er det {navn} der har spist flest på én session: {antal} stk.
</div>

@code {

    

}