@inherits LayoutComponentBase
@inject IUserService UserService
@inject NavigationManager Nav

<div class="layout">
    <header class="top-row">
        <!-- Burger ligger i NavMenu (fast venstre) -->
        <div class="brand">SushiCounterApp</div>

        <nav class="top-actions">
            @if (user != null)
            {
                <a href="#" @onclick="Logout">Log ud</a>
            }
        </nav>
    </header>

    <NavMenu />

    <main class="content">
        @Body
    </main>
</div>

@code {
    private User? user;

    private async Task Logout() //siger not used, men knappen fungerer, så idk
    {
        await UserService.Logout();
        Nav.NavigateTo("/", true); //forceload skal være true, megget vigtigt!
    }

    protected override async Task OnInitializedAsync() =>
        user = await UserService.GetUserLoggedInAsync();

    protected override async Task OnParametersSetAsync()
    {
        var current = await UserService.GetUserLoggedInAsync();
        if ((current?.UserId) != (user?.UserId))
        {
            user = current;
            await InvokeAsync(StateHasChanged);
        }
    }
}